# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# Local Netlify folder
.netlify

PUBLIC_SANITY_PROJECT_ID="s7y2umuq"
PUBLIC_SANITY_DATASET="production"
# 如果模板支持预览模式，可能还需要 API Token
SANITY_API_READ_TOKEN="skR0a4mL6Eq1lJXzYp77AgHbLOhcBC6ONRO52GF9sOyoJPly99OKrRI3xtVXdLi6ikgiC4GWCHgtrDybHNmZpj2djXExz87mzCt3DCXE0f13QZm4MjdtxR1Yp7X8vxC5fxH4e2amgaNmdBLKVvsIVESnjgrxkziIRFmCwgZcJzRjLuIACnmN"

